body {
  background: white;
  color: #aa7fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body * {
  font-family: 'Roboto', sans-serif;
}

h3 {
  text-align: center;
}

nav {
  display: inline;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav * {
  margin: 0 7px;
}

button {
  font-size: 12px;
  color: inherit;
  border: 1px solid;
  background: white;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.slider {
  width: 200px;
}

.slider span:focus {
  outline: none;
}

.slider span:hover {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
}

.sidebar {
  height: 800px;
  width: 290px;
}

.buttons button {
  display: inline-block;
  width: 150px;
  padding: 5px;
  margin-bottom: 10px;
}

.buttons {
  height: 120px;
  text-align: center;
}

.structures {
  text-align: center;
  height: 680px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  list-style: none;
}

img {
  border: 1px solid gray;
  cursor: pointer;
  margin: 10px 0;
  width: 150px;
  height: 150px;
}

.selected {
  box-shadow: 0 0 20px rgba(8, 146, 208, 0.8);
}

canvas {
  width: 800px;
  height: 800px;
  border: 1px solid gray;
}

@media screen and (max-height: 900px) {
  canvas {
    width: 600px;
    height: 600px;
  }

  .structures {
    height: 480px;
  }
}

canvas:hover {
  cursor: none;
}

p {
  padding-left: 20px;
}

.introjs-overlay {
  display: none;
}

